/* Responsive Service Page */
@media (max-width: 992px) {
  .services-page .row .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 576px) {
  .services-page .row .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .timeline-line {
    left: 5px;
    width: 3px;
  }

  .timeline-item {
    width: 100%;
    padding-left: 2.5rem;
  }
}
